@import "tailwindcss";

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-in-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
